.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  transition: fill var(--timing-function);

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  fill: var(--accent-color);
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
  height: 796px;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform var(--timing-function);

  &.is-open {
    transform: translateX(0);
  }

  .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.menu__nav-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  .item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }

    &:last-child {
      margin-bottom: 306px;
    }
  }

  .link {
    color: var(--title-text-color);

    transition: color var(--timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}

.menu__contacts--tel {
  margin-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  .link {
    color: var(--accent-color);
  }
}

.menu__contacts--mail {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  .link {
    color: var(--primary-text-color);
  }
}

.menu__social-links {
  display: flex;
  margin-top: auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  .item {
    &:not(:last-child) {
      margin-right: 10px;
      padding-right: 10px;
      border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  .link {
    color: var(--accent-color);
  }
}
