.our-team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: #f5f4fa;

  &__cards {
    display: flex;
  }

  &__card {
    border-radius: 0px 0px 4px 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__professions {
    margin-top: 0;
    margin-bottom: 16px;

    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__names {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  &__description {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
}
