.our-team {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #f5f4fa;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__cards {
    @media screen and (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__card {
    width: 450px;

    border-radius: 0px 0px 4px 4px;

    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: $tablet) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) {
      width: 354px;

      &:nth-child(2n + 1) {
        margin-right: 30px;
      }
    }

    @media screen and (max-width: $desktop) {
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $desktop) {
      width: 270px;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__professions {
    margin-top: 0;
    margin-bottom: 16px;

    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
  }

  &__names {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
  }

  &__description {
    padding-top: 30px;
    padding-right: 122px;
    padding-bottom: 24px;
    padding-left: 122px;

    @media screen and (min-width: $tablet) {
      padding-right: 74px;
      padding-left: 74px;
    }

    @media screen and (min-width: $desktop) {
      padding-right: 32px;
      padding-bottom: 30px;
      padding-left: 32px;
    }
  }
}
