.address {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 70px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  &__link {
    transition: color var(--timing-function);

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    &--color {
      color: #ffffff;
    }
  }
}
