.contacts {
  margin-left: auto;

  &__item:not(:last-child) {
    margin-bottom: 10px;

    @media screen and (min-width: $desktop) {
      margin-right: 30px;
      margin-bottom: 0;      
    }
  }

  &__link {
    display: flex;
    align-items: center;

    transition: color var(--timing-function);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }

    // FOOTER
    &--footer {
      color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: $desktop) {
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  &__icon {
    &--mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;

      fill: currentColor;
    }

    &--phone {
      width: 10px;
      height: 16px;
      margin-right: 10px;

      fill: currentColor;
    }
  }

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}
