.email-fild {
  width: 290px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: rgba(0, 0, 0, 0);

  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  @media screen and (min-width: $mobile) {
    width: 450px;
  }

  @media screen and (min-width: $desktop) {
    width: 358px;
    margin-bottom: 0;
  }
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;

  fill: #ffffff;
}