.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: 93px;

  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &--color {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
