.social-icons {
  display: flex;
  justify-content: center;

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--background {
      background-color: rgb(255, 255, 255, 0.1);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: background-color var(--timing-function);

    color: #afb1b8;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    &:hover .social-icons__icon,
    &:focus .social-icons__icon {
      fill: #ffffff;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;

    transition: fill var(--timing-function);

    fill: currentColor;

    &--white {
      fill: #ffffff;
    }
  }
}
