.subscribe {
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 0;
    margin-left: auto;
  }

  &__form {
    
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    @media screen and (min-width: $desktop) {
      align-items: flex-end;
      flex-wrap: nowrap;
    }
  }

  &__title {
    display: inline-block;
    width: 207px;
    margin-bottom: 20px;

    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (min-width: $desktop) {
      display: block;
    }
  }
}
