html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Remove default value margin: 8px; */
  margin: 0;

  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.container {
  box-sizing: border-box;
  max-width: 480px;
  padding-right: 15px;
  padding-left: 15px;
  /* Centering */
  margin: 0 auto;

  // tablet screen 768px
  @media screen and (min-width: $tablet) {
    max-width: $tablet;
  }

  // desktop screen 1200px
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.link-decoration a {
  text-decoration: none;
}
